SERVER_PORT=someport
NODE_ENV=nodeenv

DATABASE_URL=postgresql://postgres:username@host/db
DIRECT_URL=postgresql://postgres:username@host/db

JWT_SECRET=jwtsecret
FRONTEND_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=cldname
CLOUDINARY_API_KEY=apikey
CLOUDINARY_API_SECRET=apisecret

EMAIL_FROM=no-reply@example.com
EMAIL_USERNAME=smtp-username
EMAIL_PASSWORD=smtp-password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_CONNECTION_TIMEOUT_MS=10000
EMAIL_GREETING_TIMEOUT_MS=10000
EMAIL_SOCKET_TIMEOUT_MS=10000
EMAIL_DEBUG=false
